/* Carousel.css */

.carousel-container {
    width: 100%;
    height: 400px; /* Set the height you want */
    overflow: hidden;
  }
  
  .carousel {
    width: 100%;    
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
  }
  
  button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
   background-color: transparent;
  }
  
  button.prev {
    left: 10px;
  }
  
  button.next {
    right: 10px;
  }
  
  .slider-dots {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  
  .slider-dots .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .slider-dots .dot.active {
    background-color: #717171;
  }
  